
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - {{ site.title }}</title>
    <link href="/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="og:description" content="{{ site.description }}" />
    <meta property="og:locale" content="{{ site.language }}" />
    <meta property="og:type" content="website" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feeds/rss.xml">
  </head>