<!doctype html>
<html lang=${ site.language }>
  ${ Punch.one({ from: "blog", slug: Punch.route.slug }, (blog) => `
    ${ blog ?
      `${ Punch.partial("head", { site, title: blog.title }) }
       <body>
         ${ Punch.partial("topbar", { site }) }
         <main>
           <article>
             <h2>${ blog.title }</h2>
             <time pubdate datetime="${new Date(blog.published_on)}">
               ${new Intl.DateTimeFormat('en-GB', { dateStyle: 'long' }).format(new Date(blog.published_on))}
             </time>

             <div>
               ${ blog.content }
             </div>
          </article>
         </main>
         ${ Punch.partial("footer", { site }) }
       </body>`
       : Punch.notFound()
    }
  `)}
</html>
